# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
local_settings.py

# Environments
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Binaries
bin/
*.exe
